.site-sub-navigation {
  position: absolute;
  font-family: 'Buda', cursive;
  font-size: 0.9em;
  bottom: 0;
  left: 200px;
  li > a {
    &.selected, &.selected:hover, &.selected:active, &.selected:focus {
      color: red;
    }
  }
}
