@import "compass/css3/background-size";

.home_cover_background_1 {
  background: url("../images/illustration_cover.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_2 {
  background: url("../images/muNA_cover.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_3 {
  background: url("../images/muDP_cover.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_4 {
  background: url("../images/muBS_cover.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_5 {
  background: url("../images/cards_cover_1.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_6 {
  background: url("../images/cards_cover_2.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_7 {
  background: url("../images/cards_cover_3.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.fade_in_animation {
  animation: fadeIn 1.0s;
}

.fade_out_animation {
  animation: fadeOut 1.0s;
}
