@import "compass/css3";

.home_landing_container {
  font-family: 'Megrim', cursive;
  position: fixed;
  top: 40%;
  h1 {
    @include text-shadow(rgba(black, 0.2) 1px 1px 0, rgba(black, 0.2) 2px 2px 0, rgba(black, 0.2) 3px 3px 0);
  }
}

.home_cover_background_1 {
  background: url("../images/bg_home_1.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_2 {
  background: url("../images/bg_home_2.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_3 {
  background: url("../images/bg_home_3.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_4 {
  background: url("../images/bg_home_4.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_5 {
  background: url("../images/bg_home_5.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_6 {
  background: url("../images/bg_home_6.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover_background_7 {
  background: url("../images/bg_home_7.jpg") no-repeat fixed top left;
  @include background-size(cover);
}

.home_cover {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home_video {

  height: 100%;
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  & > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.home_video_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(
      to bottom,
      rgba(250, 250, 250, 0.4),
      rgba(250, 250, 250, 0.4) 2px,
      rgba(250, 250, 250, 0.5) 2px,
      rgba(250, 250, 250, 0.5) 4px
  );
}

.fade_in_animation {
  animation: fadeIn 1.0s;
}

.fade_out_animation {
  animation: fadeOut 1.0s;
}

// Smartphones (portrait)
@media screen and (max-width: 375px) and (orientation: portrait) {
  .home_landing_container {
    top: 70px;
    h1 {
      font-size: 2.4em;
      span, small {
        background-color: rgba(248, 248, 248, 0.5);
      }
    }
  }
}

// Smartphones (landscape)
@media only screen and (max-device-width: 767px) and (orientation: landscape) {
  .home_landing_container {
    top: 80px;
    h1 {
      font-size: 1.8em;
      span, small {
        background-color: rgba(248, 248, 248, 0.5);
      }
    }
  }
}
