@import "compass/css3";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// titulos das obras
@import url(http://fonts.googleapis.com/css?family=Wire+One);
// titulo principal
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
// itens do menu
@import url(https://fonts.googleapis.com/css?family=Jura);

body {
  padding: 0;
  //background: url("../images/under_construction.jpg") no-repeat fixed center left;
  //@include background-size(cover);
}

a {
  color: #2B2B2B;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .navbar {
    margin: {
      top: 20px;
    }
  }

  .navbar-default, .navbar-collapse {
    background-color: white;
    border-color: white;
  }

  .navbar-brand {
    font-size: 4em;
  }

}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

  display: none; // hidden for now
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.page-content {
  h2 {
    font-family: 'Wire One', sans-serif;
    font-size: 4em;
    margin: 0;
    padding: {
      right: 30px;
    }
    text-align: right;
  }

  .carousel-control.left, .carousel-control.right {
    background-image: none;
  }

  .carousel-container {
    height: 400px;
  }
}

.site-title {
  font-family: 'Old Standard TT', serif;
  h1 {
    font-size: 4em;
  }
}

.site-navigation {
  list-style-type: none;
  font-family: 'Jura', sans-serif;
  font-size: 1.5em;
  padding: {
    left: 10px;
  }
}
