@import "compass/css3";

$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

// titulos das obras
@import url(http://fonts.googleapis.com/css?family=Wire+One);
// titulo principal
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
// itens do menu
@import url(https://fonts.googleapis.com/css?family=Buda:300);

@import "home";
@import "works";

html, body {
  height: 100%;
}

a {
  color: #000;
  &:hover, &:active, &:focus {
    text-decoration: none;
    color: #000;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  .navbar {
    min-height: 25px;
    background: rgba(255, 255, 255, 0.9);
    margin: {
      bottom: 0;
    }
  }
  .navbar-text {
    margin: {
      top: 5px;
      bottom: 5px;
      right: 7px;
    }
  }
  .navbar-brand {
    max-height: 25px;
    padding: {
      top: 0;
      bottom: 0;
    }
  }
}

/* Custom page header */
.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  z-index: 2;
  background-color: white;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .navbar {
    background-color: #FFF;
    margin: {
      top: 0;
      bottom: 0;
    }
    padding: {
      top: 20px;
      bottom: 20px;
    }
  }

  .navbar-default, .navbar-collapse {
    background-color: white;
    border-color: white;
  }

  .navbar-brand {
    font-size: 4em;
    color: #000;
  }

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header, .footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-content {
  h2 {
    font-family: 'Wire One', sans-serif;
    font-size: 4em;
    margin: 0;
    padding: {
      top: 90px;
      right: 30px;
    }
    text-align: right;
  }

  height: 100%;

  iframe {
    padding: {
      top: 50px;
    }
    display: block;
    height: 100%;
    width: 100%;
  }
}

.site-title {
  font-family: 'Old Standard TT', serif;
  h1 {
    font-size: 4em;
  }
}

.site-navigation {
  list-style-type: none;
  font-family: 'Buda', cursive;
  padding: {
    left: 10px;
  }
  li > a {
    padding: {
      top: 0;
      bottom: 0;
    }
    &.selected, &.selected:hover, &.selected:active, &.selected:focus {
      color: red;
    }
  }
}

.site-sub-navigation {
  position: absolute;
  font-family: 'Buda', cursive;
  bottom: 0;
  left: 200px;
  li > a {
    &.selected, &.selected:hover, &.selected:active, &.selected:focus {
      color: red;
    }
  }
}
