@import "compass/css3";

.works-container {
  padding: {
    top: 100px;
  }
  .row:last-child {
    margin: {
      bottom: 30px;
    }
  }
}

.work-thumbnail {
  height: 300px;
}

.work-thumbnail-text {
  position: absolute;
  bottom: 25px;
  background-color: rgba(248, 248, 248, 0.8);
  width: 91%;
  font-family: 'Buda', cursive;
}

.work-navigation-link {
  $default-text-shadow-blur: 3px;
  $default-text-shadow-v-offset: 1px;
  color: white;
  @include single-text-shadow;
  display: inline;
  position: absolute;
  font-size: 5em;
  top: 30px;

  &:hover, &:active, &:focus {
    color: white;
  }

  &:first-child {
    left: 40px;
  }
  &:last-child {
    right: 40px;
  }
}

.work-modal {
  min-height: 150px;
  img {
    max-height: 650px;
  }
}

$work-card-count: 6;
@for $i from 1 through $work-card-count {
  .work-card-thumbnail-#{$i} {
    background: url("../images/work_card_#{$i}_thumb.jpg");
    @include background-size(cover);
  }
}

$work-draw-count: 21;
@for $i from 1 through $work-draw-count {
  .work-draw-thumbnail-#{$i} {
    background: url("../images/work_draw_#{$i}_thumb.jpg");
    @include background-size(cover);
  }
}

$work-shape-count: 9;
@for $i from 1 through $work-shape-count {
  .work-shape-thumbnail-#{$i} {
    background: url("../images/work_shape_#{$i}_thumb.jpg");
    @include background-size(cover);
  }
}

$work-wall-count: 20;
@for $i from 1 through $work-wall-count {
  .work-wall-thumbnail-#{$i} {
    background: url("../images/work_wall_#{$i}_thumb.jpg");
    @include background-size(cover);
  }
}

a.thumbnail {
  & > div.work-thumbnail {
    @include filter(blur(1px));
  }
}

@media screen and (min-width: 768px) {
  .work-thumbnail-text {
    display: none;
  }

  a.thumbnail {
    & > div.work-thumbnail {
      @include filter(grayscale(100%) blur(1px));
    }

    &:hover > div.work-thumbnail {
      @include filter(grayscale(0) blur(1px));
    }

    &:hover {
      .work-thumbnail-text {
        //display: block;
      }
    }
  }
}
