@import "compass/css3/background-size";

.works-container {
  padding: {
    top: 100px;
  }
}

.work-image {
  max-height: 650px;
}

.work-thumbnail {
  height: 300px;
}

.work-navigation-link {
  position: absolute;
  font-size: 3em;
  top: 45%;
  &:hover {
    color: red;
  }
  &:first-child {
    left: 40px;
  }
  &:last-child {
    right: 40px;
  }
}

.work-thumbnail-1 {
  background: url("../images/work_wall_1_thumb.jpg");
  @include background-size(cover);
}

.work-thumbnail-2 {
  background: url("../images/work_wall_2_thumb.jpg");
  @include background-size(cover);
}

.work-thumbnail-3 {
  background: url("../images/work_wall_3_thumb.jpg");
  @include background-size(cover);
}

.work-thumbnail-4 {
  background: url("../images/work_wall_4_thumb.jpg");
  @include background-size(cover);
}

.work-thumbnail-5 {
  background: url("../images/work_wall_5_thumb.jpg");
  @include background-size(cover);
}

.work-thumbnail-6 {
  background: url("../images/work_wall_6_thumb.jpg");
  @include background-size(cover);
}

.work-thumbnail-7 {
  background: url("../images/work_wall_7_thumb.jpg");
  @include background-size(cover);
}

.work-thumbnail-8 {
  background: url("../images/work_wall_8_thumb.jpg");
  @include background-size(cover);
}

.work-thumbnail-9 {
  background: url("../images/work_wall_9_thumb.jpg");
  @include background-size(cover);
}
