<div class="container-fluid about_container">
  <div class="row">
    <div class="col-xs-12 col-md-4 about_picture">
      <img class="img-responsive" src="/images/bio.jpg">
    </div>
    <div class="col-xs-12 col-md-7 text-justify about_text" ng-show="isEnglishSet()">
      <p>I'm Aline Victor, artist, architect, post graduate in environmental management, with many years of landscaping
        work. Being an artist is the basis of all my profesional life. I use my technical knowledge and my sensibility
        to create spaces and objects that meet people's needs at the same time as they are full of beauty and value.</p>


      <p>As urbanist architect, I learned to understand the whole and discern how my creativity can work for people -
        from a residence's project to an urban planning. The landscaping, a great passion is the art of creating spaces
        using nature as protagonist. As an environmental manager, I learned to apply organizational strategy to my
        process and always seek new technologies and creative solutions for projects. And all these learnings and
        features complement each other and make me a connoisseur and enthusiast of spaces occupied by humans.</p>


      <p>The Lilivic Gallery is my art studio, where I develop creative works for different people, because art is
        intrinsic to our lives and can (and should!) permeate every corner of our day-to-day. On the "Gallery" you can
        follow my artistic work and the process of language development for each project. The most important work is
        that it meets the customer's wishes and is more than a beautiful job: it has to have meaning! This is the true
        value of a work.</p>


      <p>The learning process as an artist is intense and constant: new techniques, new materials, new challenges, new
        ways to bring the beauty to every different situation - from a surfboard to the walls of a charity. I believe
        there is nothing more beautiful in my work than the constant stimulus for learning and the ways to transform
        every day,people's lives through the art.</p>

    </div>
    <div class="col-xs-12 col-md-7 text-justify about_text" ng-show="isPortugueseSet()">
      <p>Sou a Aline Victor, artista, arquiteta de formação, pós graduada em gestão ambiental, com muitos anos de
        trabalho paisagístico na bagagem. Ser artista é a base de toda minha formação. É utilizar meu conhecimento
        técnico e minha sensibilidade para criar espaços e objetos que atendam às necessidades das pessoas ao mesmo
        tempo em que sejam repletos de beleza e valor.</p>


      <p>Como arquiteta urbanista, aprendi a compreender o todo e discernir sobre como minha criatividade pode trabalhar
        a favor das pessoas - seja a obra de uma residência ou o planejamento de um bairro. O paisagismo, uma grande
        paixão, é a arte de criar espaços utilizando a natureza como protagonista. Como gestora ambiental, aprendi a
        aplicar estratégia organizacional ao meu processo e sempre buscar novas tecnologias e soluções criativas para os
        projetos. E todos esses aprendizados e características se complementam e fazem de mim uma conhecedora e
        entusiasta dos espaços ocupados pelo homem.</p>


      <p>A Lilivic Gallery é o meu estúdio de arte, onde desenvolvo trabalhos criativos para diversos públicos, pois a
        arte é intrínseca à nossa vida e pode (e deve!) permear todos os cantos do nosso dia-a-dia. Na aba "Galeria"
        vocês podem acompanhar meu trabalho artístico e o processo do desenvolvimento da linguagem para cada projeto. O
        mais importante do trabalho é que ele atenda aos desejos do cliente e seja mais do que um trabalho bonito: tem
        que ter significado! Este é o verdadeiro valor de uma obra.</p>


      <p>O processo de aprendizado como artista é intenso e constante: novas técnicas, novos materiais, novos desafios,
        novas formas de trazer a beleza para situações muito diversas - desde uma prancha de surf até paredes de uma
        instituição beneficente. Acredito que não exista nada mais belo em meu trabalho do que o estímulo constante pelo
        aprendizado e por formas de transformar, todos os dias, as vidas das pessoas através da arte.</p>

    </div>
  </div>
</div>
