<!-- prefetch -->
<div ng-show="false">
  <img src="images/bg_home_1.jpg">
  <img src="images/bg_home_2.jpg">
  <img src="images/bg_home_3.jpg">
  <img src="images/bg_home_4.jpg">
  <img src="images/bg_home_5.jpg">
  <img src="images/bg_home_6.jpg">
  <img src="images/bg_home_7.jpg">
</div>

<div class="home_cover hidden-lg" ng-class="coverClass"></div>

<div class="home_video hidden-md hidden-sm hidden-xs">
  <video autoplay loop>
    <source type="video/mp4" src="videos/bg_home.mp4">
  </video>
</div>
