<script type="text/ng-template" id="workModalContent.html">
  <div class="modal-body work-modal">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <a href="javascript:void(0)" class="work-navigation-link" ng-click="previous(imageNumber)">
            <span class="glyphicon glyphicon-menu-left"></span>
          </a>
          <a href="javascript:void(0)" class="thumbnail" ng-click="dismiss();">
            <img class="work-image" ng-src="{{image}}">
          </a>
          <a href="javascript:void(0)" class="work-navigation-link" ng-click="next(imageNumber)">
            <span class="glyphicon glyphicon-menu-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</script>

<!-- Card Section -->
<div class="container-fluid works-container" ng-show="isCurrentSection('card')">
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_card_1.jpg')">
        <div class="work-thumbnail work-card-thumbnail-1"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_card_2.jpg')">
        <div class="work-thumbnail work-card-thumbnail-2"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_card_3.jpg')">
        <div class="work-thumbnail work-card-thumbnail-3"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_card_4.jpg')">
        <div class="work-thumbnail work-card-thumbnail-4"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_card_5.jpg')">
        <div class="work-thumbnail work-card-thumbnail-5"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_card_6.jpg')">
        <div class="work-thumbnail work-card-thumbnail-6"></div>
      </a>
    </div>
  </div>
</div>

<!-- Draw Section -->
<div class="container-fluid works-container" ng-show="isCurrentSection('draw')">
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_1.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-1"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_2.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-2"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_3.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-3"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_4.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-4"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_5.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-5"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_6.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-6"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_7.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-7"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_8.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-8"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_9.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-9"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_10.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-10"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_11.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-11"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_12.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-12"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_13.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-13"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_14.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-14"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_15.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-15"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_16.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-16"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_17.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-17"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_18.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-18"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_19.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-19"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_20.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-20"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_draw_21.jpg')">
        <div class="work-thumbnail work-draw-thumbnail-21"></div>
      </a>
    </div>
  </div>
</div>

<!-- Shape Section -->
<div class="container-fluid works-container" ng-show="isCurrentSection('shape')">
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_shape_1.jpg')">
        <div class="work-thumbnail work-shape-thumbnail-1"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_shape_2.jpg')">
        <div class="work-thumbnail work-shape-thumbnail-2"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_shape_3.jpg')">
        <div class="work-thumbnail work-shape-thumbnail-3"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_shape_4.jpg')">
        <div class="work-thumbnail work-shape-thumbnail-4"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_shape_5.jpg')">
        <div class="work-thumbnail work-shape-thumbnail-5"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_shape_6.jpg')">
        <div class="work-thumbnail work-shape-thumbnail-6"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_shape_7.jpg')">
        <div class="work-thumbnail work-shape-thumbnail-7"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_shape_8.jpg')">
        <div class="work-thumbnail work-shape-thumbnail-8"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_shape_9.jpg')">
        <div class="work-thumbnail work-shape-thumbnail-9"></div>
      </a>
    </div>
  </div>
</div>

<!-- Wall Section -->
<div class="container-fluid works-container" ng-show="isCurrentSection('wall')">
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_1.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-1"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Mural BS | 2014
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_2.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-2"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_3.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-3"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_4.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-4"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_5.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-5"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_6.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-6"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_7.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-7"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_8.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-8"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_9.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-9"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_10.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-10"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_11.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-11"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_12.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-12"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_13.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-13"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_14.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-14"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_15.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-15"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_16.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-16"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_17.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-17"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_18.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-18"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_19.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-19"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_20.jpg')">
        <div class="work-thumbnail work-wall-thumbnail-20"></div>
        <div class="work-thumbnail-text text-center">
          <h1>
            Título | Ano
            <br>
            <small>
              <span ng-bind="getMessage('dimensions')"></span>:
            </small>
            <br>
            <small>
              <span ng-bind="getMessage('technique')"></span>:
            </small>
          </h1>
        </div>
      </a>
    </div>
  </div>
</div>
