<script type="text/ng-template" id="workModalContent.html">
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <a href="javascript:void(0)" class="thumbnail">
            <img class="work-image" ng-src="{{image}}">
          </a>
        </div>
      </div>
    </div>
  </div>
</script>

<div class="container-fluid works-container" ng-show="isCurrentSection('wall')">
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_1.jpg')">
        <div class="work-thumbnail work-thumbnail-1"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_2.jpg')">
        <div class="work-thumbnail work-thumbnail-2"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_3.jpg')">
        <div class="work-thumbnail work-thumbnail-3"></div>
      </a>
    </div>
  </div>
</div>
