<script type="text/ng-template" id="workModalContent.html">
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <a href="javascript:void(0)" class="work-navigation-link" ng-click="previous(imageNumber)">
            <span class="glyphicon glyphicon-menu-left"></span>
          </a>
          <a href="javascript:void(0)" class="thumbnail" ng-click="dismiss();">
            <img class="work-image" ng-src="{{image}}">
          </a>
          <a href="javascript:void(0)" class="work-navigation-link" ng-click="next(imageNumber)">
            <span class="glyphicon glyphicon-menu-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</script>

<div class="container-fluid works-container" ng-show="isCurrentSection('wall')">
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_1.jpg')">
        <div class="work-thumbnail work-thumbnail-1"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_2.jpg')">
        <div class="work-thumbnail work-thumbnail-2"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_3.jpg')">
        <div class="work-thumbnail work-thumbnail-3"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_4.jpg')">
        <div class="work-thumbnail work-thumbnail-4"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_5.jpg')">
        <div class="work-thumbnail work-thumbnail-5"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_6.jpg')">
        <div class="work-thumbnail work-thumbnail-6"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_7.jpg')">
        <div class="work-thumbnail work-thumbnail-7"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_8.jpg')">
        <div class="work-thumbnail work-thumbnail-8"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_9.jpg')">
        <div class="work-thumbnail work-thumbnail-9"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_10.jpg')">
        <div class="work-thumbnail work-thumbnail-10"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_11.jpg')">
        <div class="work-thumbnail work-thumbnail-11"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_12.jpg')">
        <div class="work-thumbnail work-thumbnail-12"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_13.jpg')">
        <div class="work-thumbnail work-thumbnail-13"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_14.jpg')">
        <div class="work-thumbnail work-thumbnail-14"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_15.jpg')">
        <div class="work-thumbnail work-thumbnail-15"></div>
      </a>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_16.jpg')">
        <div class="work-thumbnail work-thumbnail-16"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_17.jpg')">
        <div class="work-thumbnail work-thumbnail-17"></div>
      </a>
    </div>
    <div class="col-md-4">
      <a href="javascript:void(0)" class="thumbnail" ng-click="open('images/work_wall_18.jpg')">
        <div class="work-thumbnail work-thumbnail-18"></div>
      </a>
    </div>
  </div>
</div>
